table{
    border-style: solid;
    border-width: 1px;
     border-collapse: collapse;
    width: 100%;
    height: 400px;
}
tr,th,td{
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    padding: 10px;
    text-align: center;
    background-color: lightblue;

}
.clr{
    background-color: cyan;

}
.clr:hover{
    background-color: wheat;
}
th{
    background-color:cornflowerblue;
}
td:hover{
    background-color: violet;
}